<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS Libraries -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Number Game</title>
</head>
<body>
    <main>
        <section class="col-md-6 m-auto">
            <h1>Number Game</h1>
            <h3>Too Low!</h3>
            <p>Take a guess!</p>
            <div class="form-container mt-3">
                <form action="/num/{{ num }}" method="POST">
                    <input type="number" name="guess" id="num" class="form-control">
                    <input type="submit" value="Guess" class="btn btn-primary mt-3">
                </form>
            </div>
        </section>
    </main>
    <!-- JS Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>