<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <section class="col-12 d-inline-block p-3">
      {% with messages = get_flashed_messages() %} {% if messages %} {% for
      message in messages %}
      <div class="alert alert-warning">{{ message }}</div>
      {% endfor %} {% endif %} {% endwith %}
      <div class="col-5 d-inline-block align-top">
        <h1>Register</h1>
        <div class="col-8">
          <form action="/register" method="POST" class="form">
            <label for="" class="form-label">First Name</label>
            <input
              type="text"
              name="first_name"
              id="first_name"
              class="form-control"
            />
            <label for="last_name" class="form-label">Last Name</label>
            <input
              type="text"
              name="last_name"
              id="last_name"
              class="form-control"
            />
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" id="email" class="form-control" />
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              name="password"
              id="password"
              class="form-control"
            />
            <label for="password_confirmation" class="form-label"
              >Confirm Password</label
            >
            <input
              type="password"
              name="password_confirmation"
              id="password_confirmation"
              class="form-control"
            />
            <input
              type="submit"
              value="Register"
              class="btn btn-primary mt-3"
            />
          </form>
        </div>
      </div>
      <div class="col-5 d-inline-block align-top">
        <h1>Log In</h1>
        <div class="col-8">
          <form action="/sign-in" method="POST" class="form">
            <label for="email" class="form-label">Email</label>
            <input type="text" name="email" id="email" class="form-control" />
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              name="password"
              id="password"
              class="form-control"
            />
            <input type="submit" value="Log In" class="btn btn-primary mt-3" />
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
