* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color: rgb(243, 89, 89);
  color: rgb(247, 247, 247);
  padding: 20px;
  text-align: center;
}

.section {
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
}

.pokemon {
  width: 300px;
  border: 2px solid black;
  text-align: center;
  padding: 15px;
  border-radius: 20px;
  margin: 20px 20px;
}

.pokemon img {
  width: 150px;
}
