#background {
    background-image: url('../assets/background.png');
    width: 900px;
    height: 700px;
}

.player {
    background-image: url('../assets/player_new.png');
    position: absolute;
    width: 70px;
    height: 75px;
}

.enemy {
    background-image: url('../assets/enemy_new.png');
    position: absolute;
    width: 70px;
    height: 75px;
}