<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random String</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <main>
        <section class="mt-2">
            <h1>Random Word</h1>
            <h3 class="mt-2">Attempt #{{ counter }}</h3>
            <div class="string-container">
                <h1>{{ string }}</h1>
            </div>
            <div class="buttons">
                <a href="/random_word">
                    <button>
                        Generate
                    </button>
                </a>
                <a href="/reset_counter">
                    <button>
                        Reset Counter
                    </button>
                </a>
            </div>
        </section>
    </main>
</body>
</html>